#instafeed a {
    width: 350px;
}

#instafeed img {
    padding: 10px;
    width: 100%;
}

#instafeed + div {
    margin-top: 30px;
}

@media (min-width: 600px) {
    #instafeed img {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    #instafeed img {
        width: 30%;
    }
}
