

        <div class="gallery columns sixteen">

            <a href="http://instagram.com/p/tcyuiUOraR/?modal=true" target="_blank">
                <img src="./images/slider_3.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tX7VJvOraF/?modal=true" target="_blank">
                <img src="./images/slider_4.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/s-DPP7urQ-/?modal=true" target="_blank">
                <img src="./images/slider_6.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tFW00kOrRM/?modal=true" target="_blank">
                <img src="./images/slider_7.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/r7YQOdOrd7/?modal=true" target="_blank">
                <img src="./images/slider_8.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tPvweXurW3/?modal=true" target="_blank" id="gallery-link">
                <img src="./images/slider_1.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tnpjK2OrcD/?modal=true" target="_blank">
                <img src="./images/slider_2.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tNtEmdOra-/?modal=true" target="_blank">
                <img src="./images/slider_5.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tPvweXurW3/?modal=true" target="_blank">
                <img src="./images/slider_1.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tnpjK2OrcD/?modal=true" target="_blank">
                <img src="./images/slider_2.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tcyuiUOraR/?modal=true" target="_blank">
                <img src="./images/slider_3.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tX7VJvOraF/?modal=true" target="_blank">
                <img src="./images/slider_4.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tNtEmdOra-/?modal=true" target="_blank">
                <img src="./images/slider_5.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/s-DPP7urQ-/?modal=true" target="_blank">
                <img src="./images/slider_6.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tFW00kOrRM/?modal=true" target="_blank">
                <img src="./images/slider_7.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/r7YQOdOrd7/?modal=true" target="_blank">
                <img src="./images/slider_8.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tPvweXurW3/?modal=true" target="_blank">
                <img src="./images/slider_1.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tnpjK2OrcD/?modal=true" target="_blank">
                <img src="./images/slider_2.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tcyuiUOraR/?modal=true" target="_blank">
                <img src="./images/slider_3.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tX7VJvOraF/?modal=true" target="_blank">
                <img src="./images/slider_4.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tNtEmdOra-/?modal=true" target="_blank">
                <img src="./images/slider_5.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/s-DPP7urQ-/?modal=true" target="_blank">
                <img src="./images/slider_6.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tFW00kOrRM/?modal=true" target="_blank">
                <img src="./images/slider_7.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/r7YQOdOrd7/?modal=true" target="_blank">
                <img src="./images/slider_8.jpg" alt="Photo of tattoo" class="columns four fade"></a>

        </div>

    </div>


    <!-- end of section-one -->




    <div class="section-two row">

        <div class="gallery columns sixteen">

            <a href="http://instagram.com/p/tPvweXurW3/?modal=true" target="_blank">
                <img src="./images/slider_1.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tnpjK2OrcD/?modal=true" target="_blank">
                <img src="./images/slider_2.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tcyuiUOraR/?modal=true" target="_blank">
                <img src="./images/slider_3.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tX7VJvOraF/?modal=true" target="_blank">
                <img src="./images/slider_4.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tNtEmdOra-/?modal=true" target="_blank">
                <img src="./images/slider_5.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/s-DPP7urQ-/?modal=true" target="_blank">
                <img src="./images/slider_6.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/tFW00kOrRM/?modal=true" target="_blank">
                <img src="./images/slider_7.jpg" alt="Photo of tattoo" class="columns four fade"></a>

            <a href="http://instagram.com/p/r7YQOdOrd7/?modal=true" target="_blank">
                <img src="./images/slider_8.jpg" alt="Photo of tattoo" class="columns four fade"></a>

        </div>

    </div>
    <!-- end of section-two -->
