

    <div class="where columns eight">

        <div id="contact-text">

            <p>Overdrew tangible wore jeepers less wherever a extensively rightly yet grinned rabbit at happy gosh bluebird
               apart ouch kissed fractiously hence upon hence credible thoughtful eel then goodness some ouch however
               labrador the far immensely up by feverishly hello flustered expedient and hello ostrich goose cobra.</p>

            <a href="https://goo.gl/maps/fXCN4" target="_blank"><img src="./images/map.jpg"></a>

            <p> I will also be attending the following conventions:</p>

            <ul>

                <li>Ancona Tattoo Convention <br> 25th October 2015</li>
                <li>Bologna Tattoo Convention <br> 5th November 2015</li>
                <li>London Tattoo Convention <br> 17th December 2015</li>
                <li>Madrid Tattoo Convention <br> 2nd March 2016</li>
                <li>Paris Tattoo Convention <br> 21st April 2016</li>

            </ul>

        </div>

    </div>

    <div class="contact-section columns eight clearfix">

        <div class="contacts columns sixteen">

            <a href="https://www.facebook.com/williams84ben.tattoo" class="contact-link fade" target="_blank">
                <img class="icon" src="./images/facebook.png"/>facebook.com/benwwilliams</a>
            <a href="http://instagram.com/benwwilliams" class="contact-link fade" target="_blank">
                <img class="icon" src="./images/instagram.png"/>instagram.com/benwwilliams</a>
            <a href="mailto:info@benwwilliams.com" class="contact-link fade">
                <img class="icon" src="./images/email.png"/>info@benwwilliams.com</a>
            <a href="tel:+39333879564" class="contact-link fade"><img class="icon" src="./images/mobile.png"/>+39333879564</a>

        </div>

    </div>



    <!-- end of contact-section -->
