/*styles*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    color: #86979F;
}

.container {
    width: 100%;
}

.row {
    float: left;
    clear: both;
    width: 100%;
}

.container .columns {
    float: left;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}





/*section one styling*/

.section-one {
    width: 100%;
    height: 50vw;
    min-height: 480px;
    margin: 0 auto;
    background-color: #002134;
    position: relative;
    border: none;
    padding-left: 50px;
}

.name-col {
    background: url('../images/background2.jpg') no-repeat;
    background-size: 100%;
}

.logo {
    width: 100%;
    font-size: 8vw;
    line-height: 1em;
    font-family: "Roboto", sans-serif;
    color: #86979F;
    text-transform: capitalize;
    text-align: left;
    padding-top: 3em;
    padding-left: 0.3em;
    /*border: 1px solid black;*/
}

.sub-logo {
    width: 65%;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    color: #86979F;
    text-transform: capitalize;
    text-align: right;
    padding: 0;
    margin-top: 0;
    /*border: 1px solid black;*/
}

.photo-col {
    position: absolute;
    right: 0;
    text-align: center;
}

.photo-col img {
    position: relative;
    padding-top: 12%;
    width: 50%;
    margin: 0 auto;
    z-index: 2;
}

#profile-text {
    position: relative;
    top: -125px;
    background-color: rgb(0,22,35);
    width: 80%;
    margin: 0 auto;
    z-index: 0;
    box-shadow: 0 5px 45px #101010;
}

#profile-text p {
    padding: 140px 15px 30px 15px;
    line-height: 1.8em;
}


/*nav menu styling*/

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

li:hover {
    background-color: #002134;
}

#nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0,22,35);
    text-align: right;
    padding: 5px 3.5vw 5px 5px;
    z-index: 10;
}

.nav-link {
    display: inline;
    padding: 5px 20px;
}





/*section two styling*/

.section-two {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}

.gallery {
    padding: 0;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
}

.gallery .columns {
    float: left;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

/* contacts page*/

#contact-page {
    background-color: #002134;
}

.where {
    height: 100%;
    background-color: #002134;
    padding: 50px 25px 25px 25px;
    text-align: center;
    margin: 0 auto;
}

#contact-text {
    font-size: 26px;
    line-height: 1.2em;
    word-spacing: 0.1em;
    width: 80%;
    text-align: left;
    margin: 25px auto;
}

#contact-text ul {
    list-style: none;
    padding: 25px 0;
}

#contact-text li {
    padding: 15px 0;
    font-size: 22px;
}

#contact-text img {
    width: 100%;
    margin: 30px auto;
    box-shadow: 0 0 15px #111;
}

#contact-text img:hover {
    box-shadow: 0 0 25px #111;
}

.contact-section {
    background-color: #ffffff;
    padding: 50px 0;
}

.contacts {
    text-align: center;
}

.contact-link {
    text-align: center;
    margin: 20px auto;
    font-size: 35px;
    padding: 25px;
    display: block;
}

.contact-link img {
    width: 30vw;
    min-width: 150px;
    max-width: 250px;
    height: auto;
    padding: 0 0 0.3em 0;
    border: none;
    display: block;
    margin: 0 auto;
}


/*footer styling*/

footer {
    width: 100%;
    height: auto;
    color: white;
    background-color: #505050;
}

footer a {
    color: #002134;
    text-decoration: none;
    float: right;
    font-size: 25px;
    padding: 5px 7px;
}

footer a:hover {
    color: #86979F;
}

footer a:active {
    text-decoration: none;
}




/*grid system*/

.container .columns.one { width: 6.25%; }
.container .columns.two { width: 12.5%; }
.container .columns.three { width: 18.75%; }
.container .columns.four { width: 25%; }
.container .columns.five { width: 31.25%; }
.container .columns.six { width: 37.5%; }
.container .columns.seven { width: 43.75%; }
.container .columns.eight { width: 50%; }
.container .columns.nine { width: 56.25%; }
.container .columns.ten { width: 62.5%; }
.container .columns.eleven { width: 68.75%; }
.container .columns.twelve { width: 75%; }
.container .columns.thirteen { width: 81.25%; }
.container .columns.fourteen { width: 87.5%; }
.container .columns.fifteen { width: 93.75%; }
.container .columns.sixteen { width: 100%; }

.clearfix:after,
.container:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}
.clearfix,
.container {
    zoom: 1;
}


.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}


    @media only screen and (max-width: 880px) {

        .container .columns.one,
        .container .columns.two,
        .container .columns.three,
        .container .columns.four,
        .container .columns.five,
        .container .columns.six,
        .container .columns.seven  { width: 50%; }
        .container .columns.eight,
        .container .columns.nine,
        .container .columns.ten,
        .container .columns.eleven,
        .container .columns.twelve,
        .container .columns.thirteen,
        .container .columns.fourteen,
        .container .columns.fifteen,
        .container .columns.sixteen { width: 100%; }

        .section-one {
        width: 100%;
        height: auto;
        /*height: 200vw;
        max-height: 1500px;
        min-height: 850px;*/
        margin: 0 auto;
        background-color: #002134;
        position: relative;
        border: none;
        padding-left: 0;
        }

        .name-col {
            background: url('../images/background2.jpg') no-repeat;
            background-size: 100%;
        }

        .logo {
            width: 100%;
            font-size: 18vw;
            line-height: 1em;
            font-family: "Roboto", sans-serif;
            color: #86979F;
            text-transform: capitalize;
            text-align: left;
            padding-top: 2.8em;
            padding-left: 0.2em;
            /*border: 1px solid black;*/
        }

        .sub-logo {
            width: 70%;
            font-size: 5vw;
            font-family: 'Roboto', sans-serif;
            color: #86979F;
            text-transform: capitalize;
            text-align: right;
            padding: 0;
            margin-top: 0;
            /*border: 1px solid black;*/
        }

        .photo-col {
            position: static;
            text-align: center;
        }

        .photo-col img {
            position: relative;
            padding-top: 12%;
            width: 50%;
            margin: 0 auto;
            z-index: 2;
        }

        #profile-text {
            position: relative;
            top: -125px;
            background-color: #001623;
            width: 80%;
            margin: 0 auto;
            z-index: 0;
            padding-bottom: 0;
        }

        #profile-text p {
            line-height: 1.8em;
        }

        .contact-link {
            width: 100%;
        }

    }

@media only screen and (max-width: 520px) {

    .container .columns.one,
    .container .columns.two,
    .container .columns.three,
    .container .columns.four,
    .container .columns.five,
    .container .columns.six,
    .container .columns.seven,
    .container .columns.eight,
    .container .columns.nine,
    .container .columns.ten,
    .container .columns.eleven,
    .container .columns.twelve,
    .container .columns.thirteen,
    .container .columns.fourteen,
    .container .columns.fifteen,
    .container .columns.sixteen { width: 100%; }

    #nav-menu {
        padding: 5px 0;
        text-align: center;
    }

    .nav-link {
        padding: 5px 1vw;
    }

    .contact-link {
        font-size: 6.7vw;
    }

}